<h1>Search for a movie</h1>

<form class="form-inline mt-5" action="/movies" method="GET">
    <input name="searchQuery" type="text" placeholder="Insert search term...">
    <button type="submit">Search</button>
</form>
