.comment-card{
    height: 170px;
    padding: 0;
}

.border.border-light{
    background-color: lightblue;
}

.comment-card-image{
    position: relative;
    display: inline;
    width: 75px;
    height: 75px;

}

.auth-form{
    width: 400px;
}

.nav-user-image{
    width: 40px;
    height: 40px;
}