<%- include ("layout/header")  %>
<div class="container mt-5 text-center" style="width:400px">
    <div uk-grid class="mb-5">
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="<%= user.image %>" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><%= user.username %></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="uk-link-muted" href="/logout">Log Out</a>
</div>

<%- include ("layout/footer")  %>
