<%- include ("layout/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Post Title</label>
            <input required type="text" name="blog[title]" placeholder="Post title...">
        </div>
        <div class="field">
            <label>Image URL</label>
            <input required type="text" name="blog[image]" placeholder="Image URL...">
        </div>
        <div class="field">
            <label>Post Content</label>
            <textarea required name="blog[body]" placeholder="Write some awesome ideas here..."></textarea>
        </div>

        <button class="ui fluid primary button" type="submit">Submit</button>
    </form>
</div>

<%- include ("layout/footer") %>
